[core]
	preloadindex = true

[user]
        name = Jim Cottrell
        email = james.cottrell@noaa.gov
#       email = JECottrell3@Comcast.NET

[color]
	ui = always

[diff]
	mnemonicprefix = true

[push]
	default = matching
#	default = simple
