[core]
	preloadindex = true

[branch]
	autoSetupRebase = always

[pull]
#	rebase = preserve
	rebase = true

[user]
	name = Jim Cottrell
#	email = JECottrell3@Comcast.NET
	email = cottrell@NIH.GOV

[color]
	ui = always

[diff]
	mnemonicprefix = true

[push]
	default = matching
#	default = simple
