[core]
	preloadindex = true

[branch]
	autoSetupRebase = always

[pull]
	rebase = preserve

[user]
        name = Jim Cottrell
#       email = james.cottrell@noaa.gov
#       email = JECottrell3@Comcast.NET
        email = jcottrell@juniper.net

[color]
	ui = always

[diff]
	mnemonicprefix = true

[push]
	default = matching
#	default = simple
