set output-meta On
"\M-a": "\C-aman \n"
"\M-e": " --exclude="
"\M-h": " META h "
"\M-i": " META i "
"\M-j": " META j "
"\M-k": " META k "
"\M-m": "\C-e | less\n"
"\M-o": overwrite-mode
"\M-q": "ssh -tAX root@cake    SUDO_USER=$USER           bash --rcfile $RCFILE"
"\M-s": "ssh -tAX root@strudel SUDO_USER=$USER ssh-agent bash --rcfile $RCFILE"
"\M-v": "ssh -tAX root@vessel  SUDO_USER=$USER           bash --rcfile $RCFILE"
"\M-w": "\C-w\C-y=$\C-y\e\C-e"
"\M-x": "fg; exit"
"\M-z": " META z "
